body {
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 20px;
}

.row{
    padding: 20px 5px;
}

.sidebar {
    background: #f8f9fa;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #ddd;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 400px;
}

.container-fluid {
    overflow: hidden;
}

@media (max-width: 768px) {
    .sidebar {
        height: auto;
        max-height: 300px;
    }

    .chart-container {
        height: auto;
    }
}
